* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

section#contact {
  margin-bottom: 300px; /* Adjust as needed */
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  padding: 0;
  float: left;
}

nav ul {
  list-style-type: none;
  float: right;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

.home {
  text-align: center;
  padding: 50px 0;
}

.home img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-top: 20px;
}

.about {
  margin: 30px;
  padding: 5px;
  font-size: 16px;
}

.projects {
  margin: 30px;
  padding: 5px;
  font-size: 16px;
}

.project {
  margin-bottom: 30px;
}

.project img {
  max-width: 50%;
  height: auto;
  border-radius: 5px;
}

.skills {
  margin: 30px;
  padding: 5px;
  font-size: 16px;
}

.contact {
  margin: 30px;
  padding: 5px;
  font-size: 16px;
}

.social {
  display: inline-block;
  flex-direction: row;
  justify-content: space-evenly;
}

.social > span {
  padding-left: 15px;
}

.social a {
  display: inline-block;
  margin-right: 10px;
  color: #333;
  text-decoration: none;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}

i.bi {
  font-size: 24px;
  cursor: pointer;
}

i#menuIcon {
  display: none;
}

div#sidebarBackground {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

div#sidebar {
  /* display: none; */
  background-color: yellow;
  position: fixed;
  top: 0;
  right: -200px;
  width: 200px;
  height: 100vh;
  padding: 16px;
  transition: all 0.2s;
}

div#sidebar > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  border-bottom: 1px solid black;
}

div#sidebar > div > h1 {
  font-size: 1.5em;
}

div#sidebar > ul {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 16px;
  list-style: none;
  margin-top: 16px;
}

div#sidebar > ul > li > a {
  all: unset;
  color: black;
  cursor: pointer;
  transition: all 0.3s;
}

div#sidebar > ul > li > a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  i#menuIcon {
    display: block;
  }

  header > nav > ul > li {
    display: none;
  }
}

section#about > .container > ul > li {
  margin: 30px;
  padding: 5px;
  font-size: 16px;
}
